<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    ErrorDocument 403.shtml /

    RewriteEngine On

    <FilesMatch "\.(?:env|php|lock|xml|config|json|sql|phar|md|bak|less|scss|gitignore)$">
        Order deny,allow
        Deny from all
        Allow from 127.0.0.1
    </FilesMatch>

    <FilesMatch "(composer\.json|package\.json|config)$">
        Order deny,allow
        Deny from all
        Allow from 127.0.0.1
    </FilesMatch>

    <FilesMatch "^index\.php$">
        Allow From All
    </FilesMatch>

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    
</IfModule>